.clipped {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.font-yellow {
    color: #CCA353;
    font-weight: 600;
}

img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
}